<!-- Footer Start -->
@* <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
<div class="row px-xl-5 pt-5">
<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
<h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
<p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no
vero est magna amet no</p>
<p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
<p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
<p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
</div>
<div class="col-lg-8 col-md-12">
<div class="row">
<div class="col-md-4 mb-5">
<h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
<div class="d-flex flex-column justify-content-start">
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
<a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
</div>
</div>
<div class="col-md-4 mb-5">
<h5 class="text-secondary text-uppercase mb-4">My Account</h5>
<div class="d-flex flex-column justify-content-start">
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
<a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
<a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
</div>
</div>
<div class="col-md-4 mb-5">
<h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
<p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
<form action="">
<div class="input-group">
<input type="text" class="form-control" placeholder="Your Email Address">
<div class="input-group-append">
<button class="btn btn-primary">Sign Up</button>
</div>
</div>
</form>
<h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
<div class="d-flex">
<a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
<a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
<div class="col-md-6 px-xl-0">
<p class="mb-md-0 text-center text-md-left text-secondary">
&copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
by
<a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
</p>
</div>
<div class="col-md-6 px-xl-0 text-center text-md-right">
<img class="img-fluid" src="img/payments.png" alt="">
</div>
</div>
</div> *@
<footer class="foot_demo2 padding-py-12 margin-t-12 footer_inner_one bg-dark">
    <div class="container">
        <!-- Start footer -->
        <div class="defalut-footer">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-sm-0">
                    <div class="item_about">
                        <a class="logo" href="hosting.html">
                            <img src="~/assets/img/logo.svg" alt="" />
                        </a>
                        <p>
                            Rakon is a simple, elegant, and secure way to build your
                            bitcoin and crypto portfolio.
                        </p>
                        <div class="address">
                            <span>1989 Don Jackson Lane</span>
                            <span>Call us:
                                <a class="c-red" href="tel:8089569599">808-956-9599</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="item_links">
                        <h4>Social</h4>
                        <a class="nav-link" href="">Blog</a>
                        <a class="nav-link" href="">Facebook</a>
                        <a class="nav-link" href="">Twitter</a>
                        <a class="nav-link" href="">Instagram</a>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="item_links">
                        <h4>Company</h4>
                        <a class="nav-link" href="">About</a>
                        <a class="nav-link" href="">Affiliates</a>
                        <a class="nav-link" href="">Careers</a>
                        <a class="nav-link" href="">Legal & Privacy</a>
                    </div>
                </div>
                <div class="col-md-4 mt-4 mt-sm-0">
                    <div class="item_subscribe">
                        <h4>Subscribe</h4>
                        <p>
                            Subscribe to get the latest<br />
                            news form us
                        </p>
                        <form class="form-row">
                            <div class="col-md-11 form-group subscribebtn">
                                <div class="item_input">
                                    <input type="email" class="form-control rounded-pill" id="exampleInputEmail1"
                                        placeholder="Enter email address" aria-describedby="emailHelp" />
                                    <button type="button" class="btn ripple_circle scale rounded-circle btn_subscribe">
                                        <i class="tio send"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 margin-t-1">
                    <select data-menu>
                        <option selected>English</option>
                        <option>Arabic</option>
                        <option>Russian</option>
                    </select>
                </div>
            </div>
            <div class="col-12 text-center padding-t-6">
                <div class="copyright">
                    <span>© 2020
                        <a href="https://themeforest.net/user/orinostu" target="_blank">OrinoStu.</a>
                        All Right Reseved</span>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </div>
</footer>
<!-- Footer End -->
<!--  footer -->
@* <footer>
<div class="footer">
<div class="container">
<div class="row">
<div class="col-md-8 offset-md-2">
<ul class="location_icon">
<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Location</li>
<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br> +01 1234567890</li>
<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> demo@gmail.com</li>
</ul>
</div>
</div>
</div>
<div class="copyright">
<div class="container">
<div class="row">
<div class="col-md-12">
<p>© 2019 All Rights Reserved. Design by<a href="https://html.design/"> Free Html Templates</a></p>
</div>
</div>
</div>
</div>
</div>
</footer> *@
<!-- end footer -->

@* CONFIG ANTERIOR *@

@* <footer class="border-top footer text-muted">
<div class="container">
&copy; 2023 - petbnb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>
</footer> *@