<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">    
    <!-- bootstrap css -->
    <!-- favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap 4.5 -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <!-- animate -->
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <!-- Swiper -->
    <link rel="stylesheet" href="~/cssswiper.min.css" />
    <!-- aos -->
    <link rel="stylesheet" href="~/css/aos.css" type="text/css" />
    <!-- icons -->
    <link rel="stylesheet" href="~/css/icons.css" type="text/css" />
    <!-- main css -->
    <link rel="stylesheet" href="~/css/main.css" type="text/css" />
    <!-- normalize -->
    <link rel="stylesheet" href="~/css/normalize.css" type="text/css" />

</head>
<body>
    <div id="wrapper">
        <div id="content">
            <partial name="_NavBarPartial">
            <div>       
                @RenderBody()        
            </div>
        </div>
        <partial name="_FooterPartial">
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_ScriptsPartial">
</body>
</html>
