@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div class="container margin-b-6">
        <div class="row justify-content-center text-center">
            <div class="col-lg-5">
                @* <div class="title_sections_inner margin-b-5">
                <h2>Titulo 1</h2>
                </div> *@
                <div class="title_sections_inner">
                    <h2>Featured Posts</h2>
                </div>
            </div>
        </div>
        <canvas id="myChart"></canvas>
    </div>
    <div class="container margin-b-6">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-5">
                    <div class="title_sections_inner margin-b-5">
                        <h2>Titulo 2</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="title_sections">
                        <div class="before_title">
                            <span>Our</span>
                            <span class="c-lightgreen">Priorities</span>
                        </div>
                        <h2>A World Where People and Nature Thrive</h2>
                        <p>We work to meet this ambitious goal by focusing on these key areas of conservation.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <canvas id="myChart2"></canvas>
                </div>
                <div class="col-lg-3">
                    <canvas id="myChart3"></canvas>
                </div>
                <div class="col-lg-3">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="container margin-b-6">
        <div class="row justify-content-center text-center">
            <div class="col-lg-5">
                <div class="title_sections_inner margin-b-5">
                    <h2>Titulo 3</h2>
                </div>
            </div>
        </div>
        <canvas id="myChart5"></canvas>
    </div>

</main>
